.page__content {
  h2.faq-menu-h2 {
    padding: 0;
    margin: 30px 0 10px 0;
  }

  li.faq-menu-li {
    font-size: 16px;
    color: #1e6bb8;
  }

  a.faq-menu-a {
  }

  hr.faq-menu-hr {
    visibility: hidden;

    @include breakpoint($large) {
      visibility: visible;
      margin: 26px 0 0 0;
      border-top: 1px solid #1e6bb8;
    }
  }

  a.faq-back-to-top {
    display: none;
    position: fixed;
    height: 52px;
    width: 52px;
    bottom: 26px;
    margin-left: 2.5423728814%;

    @include breakpoint($large) {
      display: block;
    }
  }
}