.feedback-btns {
  display: block;
  padding: 20px;
  background: #d6ebff;

  h3 {
    font-size: 16px;
    margin: 0 0 20px;
  }

  p {
    font-size: 14px;
    padding: 5px 0;
    margin: 0;
  }

  .feedback-btn {
    font-size: 14px;
    padding: 5px 20px;
    margin-right: 5px;
    background: #1e6bb8;
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
  }
}

.survey-monkey {
  display: none;

  iframe {
    width: 420px;
    height: 410px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.35);
  }
}