.masthead_fixed{
    background-color: $lightest-gray;
    border-bottom: 1px solid $border-color;

    .greedy-nav {
        a {
            color: $masthead-link-color;
    
            &:hover,
            &:active {
                color: $masthead-link-color-hover;
            }
        }

        .hidden-links {
            background: #fff;
        }
    }
}

.masthead_shrink{
    padding: 0.5em 1em 0.5em;
}