.grid__item p.project-icon-title {
  display: none;
  position: absolute;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #494e56;
  bottom: 0;
  margin-bottom: 28px;
  background: #fff;
  padding: 0 5px;
  border: 1px solid #008bf5;
}

img.project-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

div.project-icon-div {
  white-space:nowrap;
  float: left;
  position: relative;
}

div.project-icons-div {
  position: absolute;
  bottom: 16px;
}

.grid__item .archive__item {
  position: relative;
}

img.project-icon:hover + p.project-icon-title {
  display: block;
}

p.project-difficulty {
  position: absolute;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  padding: 0 14px;
  margin: 12px 14px;
}