/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
     justify-content: space-between;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }
  }
}

.site-title {
  display: -webkit-box;
  display: flex;
  padding: 0.5rem 0;
  align-self: stretch;
  -webkit-box-align: center;
        align-items: center;
  font-size: 24px;
  font-weight: 200;
  z-index: 20;
}

.masthead__menu {
  width: 100%;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-size: 15px;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}